<% layout('layouts/boilerplate.ejs') %>
<div class="row pb-3">
    <h1 class="text-center">Add New Advocate Profile</h1>

    <div class="col-6 offset-3">
        <form
            class="mb-2 needs-validation"
            action="/advocates"
            method="POST"
            novalidate
        >
            <div class="mb-2">
                <label class="form-label" for="name">Name</label>
                <input
                    class="form-control"
                    type="text"
                    id="name"
                    name="advocate[name]"
                    required
                />
                <div class="invalid-feedback">Please fill this field</div>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="location">Location</label>
                <input
                    class="form-control mb-2"
                    type="text"
                    id="location"
                    name="advocate[location]"
                    required
                />
                <div class="invalid-feedback">Please fill this field</div>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="speciality">Speciality</label>
                <input
                    type="text"
                    id="speciality"
                    name="advocate[speciality]"
                    class="form-control mb-2"
                    required
                />
                <div class="invalid-feedback">Please fill this field</div>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="email">E-Mail</label>
                <input
                    class="form-control mb-2"
                    type="email"
                    id="email"
                    name="advocate[email]"
                    required
                />
                <div class="invalid-feedback">Please fill this field</div>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="experience">Experience</label>
                <input
                    type="text"
                    id="experience"
                    name="advocate[experience]"
                    class="form-control mb-2"
                    required
                />
                <div class="invalid-feedback">Please fill this field</div>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="image">Image URL</label>
                <input
                    type="text"
                    id="image"
                    name="advocate[image]"
                    class="form-control mb-4"
                    required
                />
                <div class="invalid-feedback">Please fill this field</div>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div
                class="container d-flex align-items-center justify-content-between"
            >
                <button
                    class="btn btn-success d-flex align-items-center justify-content-center gap-1"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-plus"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                        />
                    </svg>
                    Add Advocate
                </button>
                <a
                    class="btn btn-dark d-flex align-items-center justify-content-center gap-1"
                    href="/advocates/all"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-left-short"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"
                        />
                    </svg>
                    Back to Index</a
                >
            </div>
        </form>
    </div>
</div>
