<% layout('layouts/boilerplate.ejs') %>
<div class="row">
    <h1 class="text-center">Add New Advocate Profile</h1>

    <div class="col-6 offset-3">
        <form class="mb-2" action="/advocates" method="POST">
            <div>
                <label class="form-label" for="name">Name</label>
                <input
                    class="form-control mb-2"
                    type="text"
                    id="name"
                    name="advocate[name]"
                />
                <label class="form-label" for="location">Location</label>
                <input
                    class="form-control mb-2"
                    type="text"
                    id="location"
                    name="advocate[location]"
                />
                <label class="form-label" for="speciality">Speciality</label>
                <input
                    type="text"
                    id="speciality"
                    name="advocate[speciality]"
                    class="form-control mb-2"
                />
                <label class="form-label" for="email">E-Mail</label>
                <input
                    class="form-control mb-2"
                    type="text"
                    id="email"
                    name="advocate[email]"
                />
                <label class="form-label" for="experience">Experience</label>
                <input
                    type="text"
                    id="experience"
                    name="advocate[experience]"
                    class="form-control mb-2"
                />
                <label class="form-label" for="image">Image URL</label>
                <input
                    type="text"
                    id="image"
                    name="advocate[image]"
                    class="form-control mb-4"
                />
                <button class="btn btn-success">Add Advocate</button>
            </div>
        </form>
        <a href="/advocates/all">Back to Index</a>
    </div>
</div>
